

.ctn-html{
	/*background-color: #fff; */
}
.main-bar{
	position: fixed;
	width: 100%;
	height: 4rem;
	margin-top: -10px;
	margin-left: -8px;
	border-bottom: 1.5px solid #e4e6e8;
	background-color: #fafafb;;

}
.logo{
	position: absolute;
	width: 7rem;
	height: 2rem;
	margin-top: 0rem;
	margin-left: 5rem;
}

._lgw{
	display: block;
	margin-top: 10px;
	font-size: 36px;
	font-weight:800;
	color: #34a853;
}

._signup-btn{
	position: absolute;
	width: 4rem;
	height: 2rem;
	border-radius: 3px;
	background-color: #0095ff;
	margin-left: calc(100% - 6rem);
	margin-top: 1rem;
}

._signup-btn button{
	color: #FFF;
    width: inherit;
    height: inherit;
    cursor: pointer;
	border-radius: 3px;
    background-color: inherit;

}

a{
	cursor: pointer;
}

._login-btn{
	position: absolute;
	width: 3rem;
	height: 2rem;
	color: #07C;
	border-radius: 3px;
	margin-top: calc(1rem);
	margin-left: calc(100% - 10rem);

}

._login-btn p{
	display: block;
	margin-top: 6px;
	margin-left: 2px;
}

._login-btn:hover{
	background-color: #e1edf7;

}

.content{
	position: absolute;
	width: 30rem;
	height: 20rem;
	margin-top: 7rem;
	margin-left: 1rem;
	color: #fff;
	background-color: inherit;
}

.content h1{
	font-size: 40px;
}

.content p{
	font-size: 25px;
}

._form_signup{
    position: absolute;
    width: 38rem;
    height: 28rem;
    background-color: #1088ed;
    margin-top: 7rem;
    margin-left: calc(100% - 40rem); 
}

._form_ctn-log{
    height: 24rem;
    background-color: #1171f5;
    border-radius: 3px;
    border:1px solid #e4e6e8;
    margin-left: calc(50% - 19rem); 
}
._form_ctn-signup{
	height: 28rem;
    background-color: #1171f5;
    border-radius: 3px;
    border:1px solid #e4e6e8;
    margin-left: calc(50% - 19rem);
}

._ctn-div{
	position: absolute;
	width: calc(100% - 1rem);
	height: 3rem;
	background-color: inherit;
	margin-top: 2rem;
	margin-left: 2rem;
}

._lb-div{
	height: 100%;
	width: 9rem;
	position: absolute;
	background-color: #eff0f1;
}

._inp-div{
	position: absolute;
	margin-left: 9rem;

}

._ctn-lb{
	position: absolute;
	margin-top: 1rem;
	margin-left: 10px;
	color: #535a60;
}

._ctm-inp{
	height: calc(3rem - 3px);
    width: 23rem;
	padding: 0px;
}

._email-div{
	position: absolute;
	width: calc(100% - 1rem);
	height: 3rem;
	background-color: inherit;
	margin-top: 7rem;
	margin-left: 2rem;
}

._email-ctm-log-div{
	margin-top: 3rem;
}

._psw-div{
	position: absolute;
	width: calc(100% - 1rem);
	height: 3rem;
	background-color: inherit;
	margin-top: 12rem;
	margin-left: 2rem;
}

._forgot{
	position: absolute;
	margin-top: 2rem;
	color: black;
	margin-left: calc(100% - 7.4rem)
}

._forgot a{
	color: black;
	text-decoration: none;
}

._psw-div-scd{
	position: absolute;
	width: calc(100% - 1rem);
	height: 3rem;
	background-color: inherit;
	margin-top: 17rem;
	margin-left: 2rem;
}

._sub-div{
	position: absolute;
	width: calc(100% - 3rem);
	height: 6rem;
	color: #fff;
	background-color: inherit;
	margin-top: 21rem;
	margin-left: 2rem;
}

._sub-div-ctm-sign{
	background-color: inherit;
	/*color: black;*/
}

._sub-div-ctm{
	margin-top: 17rem;
	background-color: inherit;

}

.ctn-sub-btn{
	visibility: hidden;
	height: 100%;
	width: 100%;

}
._sub-btn-div{
	position: absolute;
	width: 5rem;
	height: 2rem;
	margin-top: 2rem;
	margin-left: 2rem;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #fff;
	background-color: #1088ed;
}

._sub-btn-div-ctm{
	margin-left: calc(100% - 8rem);

}

._sub-btn-div:hover{
	background-color: #1171f5;
}

._spbtn{
	display: block;
	margin-left: 10px;
	margin-top: 7px;

}

._tms-div{
	position: absolute;
	width: 28rem;
	height: 4rem;
	margin-left: 8rem;
	margin-top: 1rem;
	color: rgba(255,255,255,0.5);
	background-color: inherit;
}

._tms-div-ctm{
	background-color: inherit;
	color: #535a60;

}

._tms-div p{
	margin-top: 5px;
	font-size: 13px;
}


._tms-div p a{
	color: #fff;
	text-decoration: none;
}
._tms-div-ctm p a{
	color: black;
	font-weight: 800;
     
} 

._qh-div{
	position: absolute;
	width: calc(100% - 2rem);
	height: 4rem;
	margin-top: 4rem;
	border-bottom: 1px solid #e4e6e8;
}

._qtn-tt{
	position: absolute;
	width: calc(75% + 2rem)
}

._qtn-tt h1{
	font-weight: 400;
	font-size: 20;

}

._qtn-btn{
   position: absolute;
   width: 7rem;
   height: 2rem;
   margin-top: 1rem;
   margin-left: calc(75%);
   background-color: #1171f5;
   border-radius: 3px;	
}

._view-btn{
   position: absolute;
   width: 7rem;
   height: 2rem;
   margin-top: 1rem;
   margin-left: calc(75% + 11rem);
   background-color: #1171f5;
   border-radius: 3px;	
}

._qtn-btn p{
  margin-top: 8px;
  margin-left: 6px;
  color: #fff;
}

._view-btn p{
  margin-top: 8px;
  margin-left: 6px;
  color: #fff;
}
a{
	
   cursor: pointer;
   text-decoration: none;
}

._qn-tn-div{
	position: absolute;
	width: 90%;
	height: calc(20% + 4rem);
	margin-top: 9rem; 
	background-color: inherit;
	border-bottom: 1px solid #e4e6e8;
	
}

._qn-ctn{
	position: absolute;
	width: 40%;
	height: 60%;
	margin-top: 1rem;
	margin-left: 20%;
	background-color: inherit;

}

._qn-ctn span{
	font-size: 17px;
}

._qn-ctn a{
	font-weight: 800;
}
._user-div{
	position: absolute;
	width: 10rem;
	height: 5rem;
	margin-top: 2rem;
	border-radius: 3px;
	background-color: #e0eaf1;
	margin-left: calc(60% + 4rem);
}

._date{
	display: block;
	margin-left: 1rem;
}

._user{
	display: block;
	margin-left: 1rem;
	margin-top: 20px;
	font-size: 18px;
}

._delete{
	position: absolute;
	width: 5rem;
	height: 2rem;
	border-radius: 2px;
	margin-top: calc(5rem + 20px);
	margin-left: calc(30rem);
	background-color: #e0eaf1;

}

._delete span{
	display: block;
	margin-top: 8px;
	margin-left: 15px;

}

._vote-div{
	position: absolute;
	margin-top: 4px;
}

._voteup{
	position: absolute;
	width: 6rem;
	height: 3.5rem;
	margin-top: -1rem;
	background-color: inherit;
	background-size: 4rem;
	background-repeat: no-repeat;
	background-image: url("images/upvote2.png");
	background-position: center;
}


._votedown{
	position: absolute;
	width: 6rem;
	height: 3.5rem;
	margin-top: 6rem;
	background-color: inherit;
	background-size: 4rem;
	background-repeat: no-repeat;
	transform: rotateX(-180deg);
	background-position: center;
	background-image: url("images/upvote2.png");
}

._vote-val{
	display: block;
	position: absolute;
	margin-top: 2.5rem;
	margin-left: 10px;
	font-size: 50px;
}

._ans-stc{
	position: absolute;
	width: 4rem;
	height: 2rem;
	margin-top: 11.5rem;
	margin-left: 8rem;
}

._ans-stc span{
	display: block;
	font-size: 20px;
	font-weight: 500;
	color: #000;
}

img{
	display: inline;
}

._ans-ctn{
	margin-top: 25rem;
	height: calc(20% + 6rem);


}

._cmt{
	width: 7rem;
}

._accept{
	position: absolute;
	width: 5rem;
	height: 5rem;
	background-size: 3rem;
	margin-top: 10rem;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("images/tick1.png");

}

._count-ans{
	position: absolute;
	width: 2rem;
	height: 2rem;
	font-size: 24px;
	margin-left: 8rem;
	margin-top: 2.5rem;
	background-color: inherit;
}

._bcl{
	color: blue
}

._cmt-div{
	position: absolute;
	width: 30rem;
	height: 5rem;
	margin-top: 40rem;
	margin-left: 16rem;
	font-size: 14px;
	background-color: inherit;
	border-bottom:1px solid #e4e6e8;
}

._cmt-div-cutom{
	margin-top: 45.5rem;
	height: 7rem;

}

._loop-cmt{
	position: absolute;
	width: 7rem;
	height: 2rem;
	border-radius: 2px;
	margin-top: calc(1rem);
	margin-left: calc(2rem);
	background-color: #e0eaf1;

}

._loop-cmt span{
	display: block;
	margin-top: 8px;
	margin-left: 15px;

}

._txt-qn-div{
	position: absolute;
	width: 20rem;
	height: 20rem;
	background-color: inherit;
	margin-top: 54rem;
	margin-left: calc(20%  + 10rem);
	border: 1px solid #e4e6e8;
}

._txt-cont-div{
	position: absolute;
	width: 20rem;
	height: 10rem;
	margin-top: 2rem;

}

._txt-cont-div  textarea{
	width: 98%;
	height: 100%;

}

._ln1{
	width: 100%;
	height: 0px;margin-top: 1rem;
	border-bottom:1px solid #e4e6e8;

}

._ln2{
	width: 100%;
	height: 0px;
	margin-top: 14rem;
	border-bottom:1px solid #e4e6e8;

}


._ln3{
	width: 100%;
	height: 0px;
	margin-top: 15px;
	border-bottom: 1px solid #e4e6e8;

}

._txt-tt{
	position: absolute;
	margin-top: -1rem;
}

._last-div{
	position: absolute;
	margin-top: 75rem;
}

._page-feed{
	    /*background-color: #1088ed;*/
}

._ask-tt{
	position: absolute;
	width: 20rem;
	height: 3rem;
	margin-top: 4rem;
	margin-left: 15%;
	color: #fff;
}

._ask-ctn-div{
	position: absolute;
	margin-top: 9rem;
	margin-left: 15%;
	color: #fff;

}

._ask_lb{
	display: block;
	font-size: 20px;
	padding-bottom: 5px;
}

._ask-txtb{
	width: 40rem;
	height: 2rem;
	border-radius: 5px;
}

._ask-bd-div{
	position: absolute;
	margin-top: 2rem;
	margin-left: 0%;
}

._ask-txtarea{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 40rem;
	height: 10rem;
	border-radius: 5px;
}

._ask-btn{
	width: 20rem;
	height: 2rem;
	background-color: #e0eaf1;
	margin-top: 1rem;
	padding-bottom: 5px;
	cursor: pointer;
	border-radius: 5px;


}

._ask-btn:hover{
	background-color: #1088ed;
}

._ctm-color{
	color:#242729;
}

._dr-ln{
	position: absolute;
	height: 0px;
	width: 70%;
	margin-top: 12rem;
	margin-left: 15%;
	border-bottom: 2px solid #e4e6e8;
   
}

._sp-qtn-div{
	position: absolute;
	margin-left: 15%;
	margin-top: 13rem;
	width: 70%;
	height: 8rem;
	border-bottom: 1px solid #e4e6e8;


}

._qtn-hd{
	color:  #07C;
	
}

._qtn-hd, ._qtn-p{
	margin-left: 6rem;
}

._qtn-status{
	position: absolute;
	margin-top: -7rem;
}

._qtn-status span{
	display: block;
	padding-bottom: 10px;
}

._qtn-ht1{
	margin-top: 22rem;
}

._qtn-ht2{
	margin-top: 31rem;
}

._qtn-ht3{
	margin-top: 41rem;
}

._piv-back{
	background-image: url(images/pic1.jpg);
	background-size: cover;

}

._piv-back-ask{
	background-image: url(images/pic2.jpg);
	background-size: cover;

}

._validate{
	position: absolute;
	margin-top: 2rem;
	margin-left: 10rem;
	color: red;
}