html{
	background-color: #1171f5;
}
.main-bar{
	position: fixed;
	width: 100%;
	height: 4rem;
	margin-top: -10px;
	margin-left: -8px;
	background-color: #fafafb;;

}
.logo{
	position: absolute;
	width: 7rem;
	height: 2rem;
	margin-top: 0rem;
	margin-left: 5rem;
	/*background-color: blue;*/
}

._lgw{
	display: block;
	margin-top: 10px;
	font-size: 36px;
	font-weight:800;
	color: #34a853;
}

._signup-btn{
	position: absolute;
	width: 4rem;
	height: 2rem;
	border-radius: 3px;
	background-color: #0095ff;
	margin-left: calc(100% - 6rem);
	margin-top: 1rem;
}

._signup-btn button{
	color: #FFF;
    width: inherit;
    height: inherit;
    cursor: pointer;
	border-radius: 3px;
    background-color: inherit;

}

a{
	cursor: pointer;
}

._login-btn{
	position: absolute;
	width: 3rem;
	height: 2rem;
	color: #07C;
	border-radius: 3px;
	margin-top: calc(1rem);
	margin-left: calc(100% - 10rem);

}

._login-btn p{
	display: block;
	margin-top: 6px;
	margin-left: 2px;
}

._login-btn:hover{
	background-color: #e1edf7;

}

.content{
	position: absolute;
	width: 40rem;
	height: 20rem;
	margin-top: 7rem;
	margin-left: 5rem;
	color: #fff;
	background-color: inherit;
}

.content h1{
	font-size: 40px;
}

.content p{
	font-size: 25px;
}
