html{
	background-color: #1171f5;
}

.ctn-html{
	background-color: #fff; 
}
.main-bar{
	position: fixed;
	width: 100%;
	height: 4rem;
	margin-top: -10px;
	margin-left: -8px;
	border-bottom: 1.5px solid #e4e6e8;
	background-color: #fafafb;;

}
.logo{
	position: absolute;
	width: 7rem;
	height: 2rem;
	margin-top: 0rem;
	margin-left: 5rem;
}

._lgw{
	display: block;
	margin-top: 10px;
	font-size: 36px;
	font-weight:800;
	color: #34a853;
}

._signup-btn{
	position: absolute;
	width: 4rem;
	height: 2rem;
	border-radius: 3px;
	background-color: #0095ff;
	margin-left: calc(100% - 6rem);
	margin-top: 1rem;
}

._signup-btn button{
	color: #FFF;
    width: inherit;
    height: inherit;
    cursor: pointer;
	border-radius: 3px;
    background-color: inherit;

}

a{
	cursor: pointer;
}

._login-btn{
	position: absolute;
	width: 3rem;
	height: 2rem;
	color: #07C;
	border-radius: 3px;
	margin-top: calc(1rem);
	margin-left: calc(100% - 10rem);

}

._login-btn p{
	display: block;
	margin-top: 6px;
	margin-left: 2px;
}

._login-btn:hover{
	background-color: #e1edf7;

}

.content{
	position: absolute;
	width: 40rem;
	height: 20rem;
	margin-top: 7rem;
	margin-left: 5rem;
	color: #fff;
	background-color: inherit;
}

.content h1{
	font-size: 40px;
}

.content p{
	font-size: 25px;
}

._form_signup{
    position: absolute;
    width: 38rem;
    height: 28rem;
    background-color: #1088ed;
    margin-top: 7rem;
    margin-left: calc(100% - 40rem); 
}

._form_ctn-log{
    height: 24rem;
    background-color: inherit;
    border-radius: 3px;
    border:1px solid #e4e6e8;
    margin-left: calc(50% - 19rem); 
}
._form_ctn-signup{
	height: 28rem;
    background-color: inherit;
    border-radius: 3px;
    border:1px solid #e4e6e8;
    margin-left: calc(50% - 19rem);
}

._ctn-div{
	position: absolute;
	width: calc(100% - 1rem);
	height: 3rem;
	background-color: inherit;
	margin-top: 2rem;
	margin-left: 2rem;
}

._lb-div{
	height: 100%;
	width: 9rem;
	position: absolute;
	background-color: #eff0f1;
}

._inp-div{
	position: absolute;
	margin-left: 9rem;

}

._ctn-lb{
	position: absolute;
	margin-top: 1rem;
	margin-left: 10px;
	color: #535a60;
}

._ctm-inp{
	height: calc(3rem - 3px);
    width: 23rem;
	padding: 0px;
}

._email-div{
	position: absolute;
	width: calc(100% - 1rem);
	height: 3rem;
	background-color: inherit;
	margin-top: 7rem;
	margin-left: 2rem;
}

._email-ctm-log-div{
	margin-top: 3rem;
}

._psw-div{
	position: absolute;
	width: calc(100% - 1rem);
	height: 3rem;
	background-color: inherit;
	margin-top: 12rem;
	margin-left: 2rem;
}

._forgot{
	position: absolute;
	margin-top: 2rem;
	color: black;
	margin-left: calc(100% - 7.4rem)
}

._forgot a{
	color: black;
	text-decoration: none;
}

._psw-div-scd{
	position: absolute;
	width: calc(100% - 1rem);
	height: 3rem;
	background-color: inherit;
	margin-top: 17rem;
	margin-left: 2rem;
}

._sub-div{
	position: absolute;
	width: calc(100% - 3rem);
	height: 6rem;
	color: #fff;
	background-color: #1088ed;
	margin-top: 21rem;
	margin-left: 2rem;
}

._sub-div-ctm-sign{
	background-color: inherit;
	/*color: black;*/
}

._sub-div-ctm{
	margin-top: 17rem;
	background-color: inherit;

}

.ctn-sub-btn{
	visibility: hidden;
	height: 100%;
	width: 100%;

}
._sub-btn-div{
	position: absolute;
	width: 5rem;
	height: 2rem;
	margin-top: 2rem;
	margin-left: 2rem;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #fff;
	background-color: #1088ed;
}

._sub-btn-div-ctm{
	margin-left: calc(100% - 8rem);

}

._sub-btn-div:hover{
	background-color: #1171f5;
}

._spbtn{
	display: block;
	margin-left: 10px;
	margin-top: 7px;

}

._tms-div{
	position: absolute;
	width: 28rem;
	height: 4rem;
	margin-left: 8rem;
	margin-top: 1rem;
	color: rgba(255,255,255,0.5);
	background-color: inherit;
}

._tms-div-ctm{
	background-color: #fff;
	color: #535a60;

}

._tms-div p{
	margin-top: 5px;
	font-size: 13px;
}


._tms-div p a{
	color: #fff;
	text-decoration: none;
}
._tms-div-ctm p a{
	color: black;
	font-weight: 800;
     
} 